<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LTALK 웹</title>
</head>
<body>
<h1>로그인</h1>
<form id="loginForm" action="/login" method="post">
    <input type="text" name="userName"/>
    <input type="password" name="password"/>
    <button type="submit">전송</button>
</form>

<script>
    document.getElementById("loginForm").addEventListener("submit", async (e) => {
        e.preventDefault();
        const formData = new FormData(e.target);
        const res = await fetch("/login", {
            method: "POST",
            body: formData
        });
        if (res.ok) {
            window.location.href = "/home";
        } else {
            alert("로그인 실패");
        }
    });
</script>


<a href="/sign-up" style="display:inline-block; padding:10px 20px; background:#007bff; color:white; text-decoration:none; border-radius:5px;">
    회원가입
</a>

</body>
</html>
